html,
body, * {
  padding: 0;
  margin: 0;
  font-family: Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  box-sizing: border-box;
}
::-webkit-scrollbar {
  width: 0px;
}

body {
  background-color: #333333;
}

a {
  color: inherit;
  text-decoration: none;
}

.icons {
  vertical-align: middle;
  margin-right: 10px;
}

.main-container{
max-width: 1400px; 
margin: auto;
width: 100%;

}

.home{
  width: 100%;
  padding: 0;
  margin: 0;
}
nav {
  background-color: black;
  display: flex;
  align-items: center;
  height: 50px;
}
.navbar-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1400px;
  margin: auto;
  width: 100%;
  padding: 10px;
  position: relative;
  height: 42px;
  /* background-color: black; */
}


span.navbar-menu-item{
  /* text-transform: uppercase; */
  padding: 6px 15px;
  transition: color 0.5s;
  font-size: 14px;
  color: white;
  width: 100000px;
  border: 2px solid white;
  border-radius: 30px;
  transform: scale(1,1);
}

.navbar-menu{
  width: 250px;
  display: flex;
  justify-content: space-around;
}


span.navbar-menu-item:hover {
  transform: scale(1.05, 1.05);
  background-color: #2f2f2f
  /* font-size: 12px; */

}


 span.text-red {
    -webkit-text-stroke: 1px #f02d34;
    margin-left: 6px;
}
.logo{
  color: white;
  font-size: 24px;
  font-weight: 600;
  /* display: none; */

}


.products-container{
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 50px;
}

.products-container > div {
  height: 300px;
  /* background: #EC985A; */
  color: white;
  margin: 0 1rem 1rem 0;
  flex: 1 1 auto;
}
.products-container::after {
  content: "";
  flex-grow: 999;
}
.product-image{
  width: 100%;
  background-color: #ebebeb;
  transform: scale(1, 1);
  transition: transform 0.5s ease;
  max-height: 100%;
  min-height: 200px;
  min-width: 100%;
  object-fit: cover;
}

.clicked{
  filter: brightness(50%);
}

.product-image:hover{
  transform: scale(1.05, 1.05)
}

.hero-banner-container{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 100px 40px;
  background: linear-gradient(rgba(0, 0, 0, 0.60), rgba(0, 0, 0, 0.60)), url('../../public/yae_miko_by_miiyachi_df7tfs0-fullview.jpg');
  background-repeat: no-repeat;
  background-position: 50% 0;
  background-size: 100%;
  
  /* background-color: #ff8787;
  background-image: url('../../public/yae_miko_by_miiyachi_df7tfs0-fullview.jpg'); */
  position: relative;
  height: 500px;
  line-height: 0.9; 
  width: 100%;
}

.hero-banner-title{
  display: flex;
  align-items: center;
  flex-direction: column;
}
.hero-banner-container .beats-solo{
  font-size: 20px;
}
#hero-banner-button{
  border-radius: 15px;
  padding: 10px 16px;
  border: 2px solid white !important; 
  /* background-color: #fe5464; */
  color: white;
  border: none;
  margin-top: 40px;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
}

#hero-banner-button:hover{
  transform: scale(1.1, 1.1);
  transition: 0.5s ease
}

.hero-banner-container h2{
  font-size: 1rem;
  margin-top: 4px;
  color: white;
}
h1{
  color: white;
  font-size: 10em;
  margin-left: -20px;
  text-transform: uppercase;
}
.hero-banner-image{
  position: absolute;
  top: 0%;
  right:25%;
  width: 300px;
  height: 300px;
}

@media only screen and (max-width: 760px) {
  .hero-banner-container h1 {
    font-size: 6em;
  }
  #hero-banner-button{
    display:none;
  }

  .hero-banner-container{
    height: 250px;
    min-width: 450px;
  }
}

.products-heading{

  margin: 40px 0px;
  color: #fff;

}
.products-heading h2{
  font-size: 30px;
  font-weight: 800;
}
.products-heading p{
  font-size: 16px;
  font-weight: 200;
}

.footer-container{
  background-color: #1f1f1f;
  color: white;
  text-align: center;
  /* margin-top: 20px; */
  padding: 30px 10px;
  font-weight: 700;
  display: flex;
  /* flex-direction: column; */
  /* align-items: center; */
  gap: 10px;
  justify-content: center;
  padding: 100px 200px;
  /* font-size: 16px; */

}

.footer-detail {
  padding-top: 30px;
  display: inline-block;
}

.flex-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 5px;
  width: 300px;
}

.icons{
  display: flex;
  justify-content: space-between;
  padding: 0 5px;
}

.footer-container .icons{
  font-size: 30px;
  display: flex;
  gap: 10px;
}

.contact-form{
  display: inline-block;
  font-size: 20px;
}
.contact-input{
  font-size: 20px;
  color: white;
  background-color: #2f2f2f
}

.product-container{
  margin-top: 15px;
  overflow: auto;
max-height: 70vh;
padding: 20px 10px;
}

.article-container{
  margin: 0 100px;
  max-width: 1000px;
  color: white;
  padding-bottom: 20px;
  /* display: flex;
  justify-content: center; */
  /* background-color: black */
}
.layout {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
}

.title-container{
  text-align: center;
}

h2 {
  margin: 30px 0 10px 0;
  text-transform: uppercase;
  color: white;
}

h4 {
  margin-bottom: 10px;
  color: #ff8787;
  font-size: 16px;
}

h3 {
  color: #ff8787;
  /* text-transform:uppercase; */
  font-size: 20px;
  margin-bottom: 20px;
  margin-top: 20px;
}

ul {
  list-style: none;
  /* margin: 2em; */
  padding: 0;
}

li {
  margin: 0;
  margin-bottom: 0.5em;
  padding-left: 15px;
  position: relative;
  font-size: 16px;
}

li:before {
  content: '';
  height: .4em;
  width: .4em;
  background: white;
  display: block;
  position: absolute;
  transform: rotate(45deg);
  top: 8px;
  left: 0;
}

hr{
  margin: 30px 0;
}

#allowed{
  width: 100%;
  text-transform: uppercase;
  font-weight: 600;
}

.can-do{
  display: inline-block;
}

.cant-do{
  display: inline-block;
  margin-left: 100px;
  margin-right: 100px
}

#can{
  color: #77d987
}

.image-page-container{
  color: #afafaf;
  width: 100%;
  min-width: 1000px;
  max-width: 1400px;
  background-color: #3f3f3f;
  /* display: flex;
  justify-content: center; */
  padding-bottom: 20px;
}


.image-container{
  min-width: 700px;
  max-width: 1400px;
  background-color: #2f2f2f;
  display: flex;
  justify-content: center;
}

.image-container>img{
  max-height: 500px;
  object-fit: contain;
}

.image-detail-container{
  margin: 0 200px;
}

.image-detail-container>h2{
  color: white
}

#date-posted{
  color: #8f8f8f;
  font-size: 12px;
}

.image-description{
  margin-top: 20px;
}

p {
  margin-bottom: 20px;
}

.section-title {
  text-transform: uppercase;
  font-size:24px;
  color: white;
  border-top: solid white 2px;
  border-bottom: solid white 2px;
  padding: 20px 0;
}

#hero-banner-subtext {
  color: white;
}

a>h3:hover{
  color: #f02d34;
  transition: color 0.5s;
  text-decoration: underline;
}

#commission-status{
  font-weight: 600;
  padding: 0
}

#open {
  color: #77d987;
  text-transform: uppercase;
  padding: 0;
  margin: 0;
}

#closed{
  color: #f02d34;
  text-transform: uppercase;
  padding: 0;
  margin: 0;
}

.table-container{
  display: flex;
  justify-content: center;
}

table{
  border-collapse:collapse;
  color: white;
}

thead > tr > th {
  border-bottom: 1px solid white
}

tbody > tr> td, tbody>tr>th {
  border-bottom: 1px solid gray;
}

tbody > tr:last-child>td, tbody>tr:last-child>th{
  border: none;
}

td, th {
  text-align: center;
  width: 200px;
  padding: 10px;
}

th{
  color: #ff8787;
  text-transform: uppercase;
}

table{
  margin: 20px 0 30px 0;
}

#order-button-container{
  display: flex;
  justify-content: center;
}

#order-button{
  color: white;
  font-size: 24px;
  padding: 10px 15px;
  background-color: #ff8787;
  border-radius: 15px;
}

#order-button:hover{
  background-color: #f02d34;
}

form {
  padding: 20px;
  color: white;
  border-radius: 5px;
  width: 500px;
}

/* .input-field {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
} */

input[type=text], input[type=email], input[type=number], input[type=password], select, textarea {
  width: 100%;
  padding: 6px 10px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  /* background-color: #2f2f2f */
}

input[type=checkbox]{
  margin-right: 5px;
}

input[type=file]{
  display: none;
}

input[type=submit] {
  width: 100%;
  background-color: #ff8787;
  color: white;
  padding: 14px 20px;
  margin: 20px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;

}
/* 
textarea {
  padding: 6px 10px;
  margin-top: 8px;
  margin-bottom: 20px;
  border: none;
  width: 100%;
} */

input[type=submit]:hover {
  background-color: #f02d34;
  text-transform: uppercase;
}

.upload-label{
  /* background-color: white; */
  /* color: black; */
  border: 2px solid white;
  border-radius: 4px;
  padding: 7px 10px;
  cursor: pointer;
  display: inline-block;
  margin-bottom: 10px;
}

.upload-label:hover{
  background-color: #8f8f8f
}

.file-upload{
  padding: 10px;
  border: 2px solid white
}

.terms-link{
  color: #ff8787
}

.terms-link:hover{
  text-decoration: underline;
  color: #f02d34
}

.file-container{
  display: flex;
  justify-content: flex-start;
}

.file-container span{
  display: block;
  margin-left: 5px;
}

.file-container>span:hover{
  opacity: 0.5;
  cursor: pointer;
}

#login-form{
  margin: 200px 0;
}

label {
  color: white;
}

.admin-section{
  padding: 20px;
}

.admin-layout{
  display: flex;
  justify-content: center;
}

#admin-nav{
  display: flex;
  justify-content: center;
}

.admin-menu-item{
  color: white;
  height: 50px;
  display: inline-block;
  padding-top: 15px;
}

.admin-menu-item:hover{
  cursor: pointer;
  border-bottom: 2px solid #ff8787;

}

#admin-nav-menu {
  width:500px;
}

#trash-icon{
  background-color: red;
  color: white;
  font-size: 24px;
  margin-bottom: 20px;

}

.add-photo {
  max-height: 100%;
  min-height: 300px;
  min-width: 200px;
  border: 2px dashed white;
  font-size: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: scale(1, 1);
  transition: 0.5s ease;
}

.add-photo:hover {
  cursor: pointer;
  transform: scale(1.1, 1.1);
  transition: 0.5s ease
}

.popup {
  /* border: 2px solid white; */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0,0,0,0.2);
  display: flex; 
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.popup-container {
  background-color: #222;
  border: 2px solid white;
}

.popup-container .close-btn{
  float: right;
  background-color: #222;
  color: white;
  font-weight: 800px;

}

.popup-container .close-btn:hover{
  cursor: pointer;
  color: grey;
}

#com-status{
  width: 100px;
  margin-left: 5px;
}

.table-link{
  display: block;
  padding: 10px;
  height: 70px;
}

.tr-link:hover{
  background-color: #1f1f1f;
}

td.com {
  padding: 0
}

.page-count{
  position: relative;
  left: 45%;
  color: white;
}

.page-count > input[type=number] {
  width: 70px;
  margin-right: 6px
}